@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@500&family=Jua&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&family=Song+Myung&display=swap');

* {margin:0; padding: 0; box-sizing: border-box;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA1MDVfMTk5%2FMDAxNTg4Njc0ODg0MDcx.d_dpre1qy2SpIvGKpNUmUe4pgnYEh076-AhEI2cmtCQg.CDG9oceOyn5a--nIkxZ85dT3zjkz7Fr9_t4Mhua1EMQg.JPEG.sukwontoto%2F1.jpg&type=sc960_832") no-repeat center;
    background-size : cover;
}
body::before {
    content:"";
    position: absolute; z-index: 1;
    top:0; right :0; bottom:0; left: 0;
}

.login-form {position:relative; z-index: 2;}
.login-form h1{
    font-size: 32px; color: saddlebrown;
    text-align: center;
    margin-bottom: 40px;
}

.int-area {
    width: 400px; position: relative;
    margin-top: 20px;
}
.int-area:first-child {margin-top:30px;}
.int-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: #cc9999;
    outline: none;
}
.int-area label {
    position: absolute; left: 10px; top: 15px;
    font-size: 18px; color: #999;
    transition: all .5s ease;
}
.int-area label.warning{
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}

.int-area input:focus + label,
.int-area input:valid + label{
    top: 0;
    font-size: 13px; color: black;
}

.btn-area {margin-top:30px;}
.btn-area button{
    width: 100%; height:50px;
    background: #cc9999;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.caption{
    margin-top: 20px;
    text-align: center;
}
.caption a {
    font-size: 15px;
    color: #999;
    text-decoration: none;
}