{% extends "base.html" %}
{% block content %}
<div class="wrap">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">제목</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text">
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">내용</label>
        </div>
        <div class="field-body">
        <textarea class="textarea"></textarea>
        </div>
    </div>
</div>
{% endblock %}