{% extends "base.html" %}
{% block content %}
<div class="wrap">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">제목</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" type="text" id="title">
                </p>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">내용</label>
        </div>
        <div class="field-body">
            <textarea class="textarea" id="content"></textarea>
        </div>
    </div>
    <input type="file" id="image">
    <button class="button" onclick="postDiary()">등록하기</button>

    <script src="/static/js/main.js"></script>
</div>
{% endblock %}